@import "tailwindcss";

:root {
  --v-color-fg: #333;
  --v-color-bg: #fff;
  --v-color-heading: #000;
  --v-color-link: #0169ec;

  @media (prefers-color-scheme: dark) {
    --v-color-fg: #a0a0a0;
    --v-color-bg: #030f1b;
    --v-color-heading: #fff;
    --v-color-link: #5a99ff;
  }
}

@theme {
  --font-sans: "Atkinson Hyperlegible", sans-serif;
  --font-block: "Ginestra Black", sans-serif;

  --color-fg: var(--v-color-fg);
  --color-bg: var(--v-color-bg);
  --color-heading: var(--v-color-heading);
  --color-link: var(--v-color-link);
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-fg bg-bg;
  }

  a {
    @apply text-link border-b hover:text-heading;
  }

  p,
  ol,
  ul,
  dl,
  table {
    @apply mb-6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-heading font-bold mb-4;
  }

  h1 {
    @apply text-7xl font-block;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  ul {
    @apply list-["–__"] pl-10 flex flex-col gap-2;
  }

  ol {
    @apply list-decimal pl-10 flex flex-col gap-2;
  }

  pre {
    @apply bg-transparent! my-4;
  }

  code {
    @apply text-sm rounded;
  }

  code:not(pre code) {
    @apply px-1 border;
  }

  pre code {
    @apply block p-2  bg-[#0a1826] text-[#b2b6bb];
  }

  blockquote {
    @apply my-12 py-3 border-y-4 border-double *:mb-0;
  }
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ginestra Black";
  src: url("/fonts/ginestra-black.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
