---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION, AUTHOR, PUBLISH_YEAR } from "../consts";
import Intro from "../components/Intro.astro";
import Welcome from "../components/Welcome.astro";
import PostsIndex from "../components/PostsIndex.astro";
import ContactLinks from "../components/ContactLinks.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`vixalien´s blog`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="container">
			<Header title={SITE_TITLE} />
			<Intro title={`vixalien´s blog`} />
			<Welcome> An archive of all my blog posts. </Welcome>
			<h2>Posts</h2>
			<PostsIndex />

			<footer>
				<a class="top" href="#top">↑ Scroll to Top</a>
				{
					(
						<div>
							<br />
							<span>
								&copy; {AUTHOR} {PUBLISH_YEAR}
							</span>
						</div>
					)
				}
			</footer>
		</main>
	</body>
</html>
