---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION, AUTHOR } from "../consts";
import Intro from "../components/Intro.astro";
import Welcome from "../components/Welcome.astro";
import PostsIndex from "../components/PostsIndex.astro";
import ContactLinks from "../components/ContactLinks.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="container">
			<Intro title={SITE_TITLE} />
			<Welcome>
				Hello! I'm Angelo Verlain, but you can call me vixalien. I am a web and
				GTK developer and this is my website, a collection of projects and
				writings.
			</Welcome>
			<div class="heading">
				<h2>Posts</h2>
				<a href="/blog">All Posts &rarr;</a>
			</div>
			<PostsIndex limit={3} />
			<p>
				<a href="/blog">More Blog Posts &rarr;</a>
			</p>
			<h2>Contact & Links</h2>
			<ContactLinks />
			<footer>
				&copy; {AUTHOR}
				{new Date().getFullYear()}
			</footer>
		</main>
	</body>
</html>

<style>
.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
</style>
