---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION, AUTHOR, PUBLISH_YEAR } from "../consts";
import Intro from "../components/Intro.astro";
import Header from "../components/Header.astro";
import ProjectsIndex from "../components/ProjectsIndex.astro";
import MainContainer from "../components/MainContainer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`vixalien´s portfolio`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <MainContainer>
      <Header title={SITE_TITLE} />
      <Intro title={`vixalien´s portfolio`} />
      <p>Personal projects I've worked on in the past.</p>
      <p>
        For more projects (most of them are open source), see my
        <a href="https://github.com/vixalien">GitHub</a>.
      </p>
      <h2>Projects</h2>
      <ProjectsIndex />

      <footer>
        <a class="top" href="#top">↑ Scroll to Top</a>
        {
          (
            <div>
              <br />
              <span>
                &copy; {AUTHOR} {PUBLISH_YEAR}
              </span>
            </div>
          )
        }
      </footer>
    </MainContainer>
  </body>
</html>
