---
export interface Props {
  title?: string;
  href?: string;
}

const { title = "Home", href = "/", ...props } = Astro.props;
---

<header>
  <nav>
    <a transition:name="home" href={href} {...props}>&larr; {title}</a>
  </nav>
</header>
